<nav>
    <div class="top">
        <a href="/">{% image "./src/image/_genLogga.png", "logo" %}</a>
    </div>
    <ul>
        {% for item in navigation %}
            <a href="{{ item.url }}">
                <li>
                    {{ item.title }}
                </li>
            </a>
        {% endfor %}
    </ul>
</nav>