<nav>
    <div class="top">
        logga
    </div>
    <ul>
        {% for item in navigation %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>