<nav id="navbar">
    <div class="top">
        <button id="menu">
            <span id="menu-btn" class="material-symbols-outlined">
                menu
            </span>
        </button>
        <a href="/">{% image "./src/image/_genLogga.png", "logo" %}</a>
    </div>
    <div class="line"></div>
    <ul id="ul">
        {% for item in navigation %}
            <a href="{{ item.url }}">
                <li id="li">
                    {{ item.title }}
                </li>
            </a>
        {% endfor %}
    </ul>

    <ul id="ul2">
        {% for item in navigation %}
            <a href="{{ item.url }}">
                <li id="li">
                    {{ item.title }}
                </li>
            </a>
        {% endfor %}
    </ul>
    <script type="application/x-javascript" src="hamburg.js"></script>
</nav>