:root {
    --order1: 0;
    --order2: 1;
    --order3: 2;
    --white: #ffffff6f;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #090909;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.material-symbols-outlined {
    color: white;
    font-size: 1.7rem;
}

.btn-games-left:active {
    .material-symbols-outlined{    
        font-size: 0.8rem;
        transition: 0.7s;
    } 
}

.btn-games-right:active {
    .material-symbols-outlined{    
        font-size: 0.8rem;
        transition: 0.7s;
    } 
}


nav {
    text-align: center;
    position: relative;
    height: 8.465rem;
}


.top {
    display: flex;
    background-color: #0e0e0e;
    color: white;
    border-bottom: solid 4px white;
    padding: 10px;
    padding-top: 14px;
    justify-content: center;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

#ul {
    align-items: center;
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.425);
    display: flex;
    position: absolute;
    list-style: none;
    top: 6rem;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 9;
    justify-content: space-evenly;
    background-color: #aeaeaf;
    transition: 0s;
}

#ul2 {
    align-items: center;
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.425);
    display: flex;
    position: absolute;
    list-style: none;
    top: 6rem;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    background-color: rgba(20, 20, 20, 0.92);
    transition: 0s;
    z-index: 8;

}

#menu {
    visibility: hidden;
    position: absolute;
    height: 2.6rem;
    padding: 0.35rem;
    left: 20px;
    top: 1.5rem;
    background-color: transparent;
    border-style: none;
}

#menu > .material-symbols-outlined {
    font-size: 2rem;
}


@media (max-width: 980px) {
    .games {
        width: 100%;
    }
    .games-box {
        width: 100%;
    }
    #menu {
        visibility: visible;
    }
    #ul {
        z-index: -1;
        width: 0;
    }
    #ul2 {
        background-color: rgba(20, 20, 20, 0.92);
        height: 20rem;
        width: 100%;
        z-index: 8;
        top: -14rem;
        transition: 0s;
        display: grid;
        grid-template-columns: auto auto;
    }

    #ul2 > a:hover {
        background-color: transparent;
        color: var(--white);
    }

    li {
        text-align: left;
    }
    nav {
        height: 6rem;
    }
}


li {
    font-size: 1rem;
}

ul > a {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

ul > a:hover {
    background-color: #818184;
    transition: 0.3s;
}

.top > a > picture > img {
    width: 3rem;
    height: auto;
    margin: 0.2rem;
    padding: 0rem;
}

.games {
    display: flex;
    position: relative;
    height: 10rem;
    width: 100%;
}

.btn-games-left {
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 100%;
    width: 3rem;
    border-style: none;
    background-color: #19191b;
}

.btn-games-right {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 3rem;
    border-style: none;
    background-color: #19191b;
}


.games-box {
    position: relative;
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    overflow-x: hidden;
}

.games-box > ul {
    height: 100%;
    background-color: #1c1d1d;
    overflow-x: hidden;
}

.games-box > div:nth-child(1) {
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(100% / 3 * var(--order1));
    background-color: #101111;
    width: calc(100% / 3);
    transition: 0.9s;
    cursor: pointer;
}
.games-box > div:nth-child(2) {
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(100% / 3 * var(--order2));
    background-color: #101111;
    width: calc(100% / 3);
    transition: 0.9s;
}
.games-box > div:nth-child(3) {
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(100% / 3 * var(--order3));
    background-color: #101111;
    width: calc(100% / 3);
    transition: 0.9s;
}

@media (max-width: 780px) {
    .games{
        height: 6rem;
    }
    .games-box{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .btn-games-left, .btn-games-right, .btn-games-left > span > .material-symbols-outlined, .btn-games-left > span > .material-symbols-outlined {
        width: 2rem;
        text-align: center;
        margin: 0;
    }
    .games-box > div:nth-child(1) {
        left: calc(100% / 2 * var(--order1));
        width: calc(100% / 2);
        transition: 0.9s;
    }
    .games-box > div:nth-child(2) {
        left: calc(100% / 2 * var(--order2));
        width: calc(100% / 2);
        transition: 0.9s;
    }
    .games-box > div:nth-child(3) {
        left: calc(100% / 2 * var(--order3));
        width: calc(100% / 2);
        transition: 0.9s;
    }    
}


.news-background {
    width: 100%;
    height: 40rem;
    display: grid;
    position: relative;
    background-image: url(../img/4UUdcc6JtM-600.jpeg);
    background-size: cover;
    background-position: center 70%;
    filter: brightness(0.3);
    box-shadow: inset 00px -190px 200px 30px #1d1d1d;
    z-index: 0;
    animation: bg-zoom 7s ease-in-out;
    animation-iteration-count: infinite;
}



.news > h1, .news > h2 {
    margin: 0;
    top: 16rem;
    width: 84%;
    margin-left: 8%;
    font-size: 3.4rem;
    margin-top: 15rem;
    height: 10rem;
    font-weight: 600;
    color: white;
    position: absolute;
    animation: title 7s ease-in-out;
    animation-iteration-count: infinite;
}

.mobile-dots {
    display: flex;
    position: absolute;
    top: 34rem;
    left: 8%;
    width: 84%;
    visibility: collapse;
    color: white;
    flex-direction: column;
    font-size: 0.8rem;
}

#progress-mob {
    width: 100%;
    height: 2px;
    background-color: white;
}

#bar-mob {
    height: 2px;
    width: 0%;
    background-color: #818184;
    animation: bar 7s linear infinite;
} 


@media (max-width: 980px) {
    .news > h1, .news > h2 {
        top: 12rem;
        font-size: 2.6rem;
    }
    .title {
        font-size: 0.7rem !important;
    }
    .mini-news {
        top: 42rem !important;
    }
}

@media (max-width: 780px) {
    .info {
        display: flex;
        flex-direction: column;
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0 !important;
    }
    .info > a {
        width: 100% !important;
    }

    .kontakt {
        margin-bottom: 1.4rem;
    }

    .policy{
        margin-bottom: 1.4rem;
    }

    .mobile-dots {
        visibility: visible;
    }
    .news-background {
        height: 30rem;
    }
    .news > h1, .news > h2 {
        top: 5rem;
        font-size: 2rem;
    }
    .title {
        font-size: 0.4rem !important;
    }
    .mini-news {
        visibility: collapse;
    }
    h3 {
        font-size: 1.2rem;
    }
    h3:nth-child(2){
        margin-left: 0.5rem !important;
    }
    .shop-top > picture > img {
        width: 6rem !important;
        height: auto;
    }
    .shop-top {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

@keyframes title {
    0% {
        color: transparent;
    }

    15% {
        color: white;
    }

    85% {
        color: white;
    }

    100% {
        color: transparent;
    }
}

.mini-news {
    position: absolute;
    top: 44rem;
    display: flex;
    width: 84%;
    margin-left: 8%;
    justify-content: space-between;
}



.mini-news-box {
    color: var(--white);
    width: 20%;
    transition: 0.8s;
}

.title {
    font-size: 1rem;
    height: 6.5rem;
}

#small-news-1 {
    color: white;
}

#progress1 {
    top: 20rem;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.8s;
}

#progress2 {
    top: 20rem;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: 0.8s;
}

#progress3 {
    top: 20rem;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: 0.8s;
}

#progress4 {
    top: 20rem;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: 0.8s;
}

.bar {
    width: 0%;
    height: 2px;
    background-color: #818184;
    animation-iteration-count: 1;
}

#bar1 {
    animation: bar 7s linear;
}

@keyframes bar {
    0% {width: 0%;}
    100% {width: 100%;}
}



.date {
    font-size: 0.68rem;
}


.scorebox {
    display: inline-flex;
    align-items: center;
    
}

.scorebox > .img-size > picture > img {
    width: auto;
    height: 2.3rem;
}

.center {
    text-align: center;
    color: white;
}

.score {
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    margin: 0 1rem;
}

.img-size {
    width: 4rem;
}

.arena {
    font-size: 0.7rem;
}

.status {
    font-size: 0.9rem;
}

.statistik {
    background-color: #aeaeaf;
    margin: 2px;
}

.p-stat {
    padding: 8px;
    color: #1d1d1d;
    font-size: 0.8rem;
    font-weight: 600;
}

.statistik:hover {
    background-color: #818184;
    transition: 0.5s;
}


.info {
    display: flex;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

a {   
    text-decoration: none;
}

.info > a:nth-child(1){
    width: 25%;
}

.info > a:nth-child(2){
    width: 28%;
    margin-left: 6%;
    margin-right: 6%;
}

.info > a:nth-child(3){
    width: 35%;
}

.info-btn {
    background-color: white;
    border: none;
    height: 30px;
    width: 140px;
    border-radius: 20px;
    cursor: pointer;
}

.kontakt {
    color: white;
    border: 1px solid #3e3e3f;
    border-radius: 10px;
    padding: 2rem;
    
}

.policy {
    color: white;
    padding: 2rem;
    border: 1px solid #3e3e3f;
    border-radius: 10px;
}

.ledare {
    color: white;
    border: 1px solid #3e3e3f;
    background-color: #3e3e3f;
    border-radius: 10px;
    padding: 2rem;
}

.shop {
    background-color: #e6e6ea;
    height: 40rem;
    position: relative;
}

.shop-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 1px solid #090909;
}

.shop-top > picture > img {
    width: 14rem;
    height: auto;
}

.shop-top > div {
    display: flex;
}

.shop-top > div {
    font-size: 2.2rem;
}

.shop-top > div > h3:nth-child(2) {
    font-weight: 400;
    margin-left: 16px;
}

.btn-shop-left > .material-symbols-outlined, .btn-shop-right > .material-symbols-outlined {
    color: #090909;
    font-size: 3rem;
    font-weight: 200;
}

.btn-shop-left, .btn-shop-right {
    border: none;
    height: 10rem;
    background-color: #e6e6ea;
    position: absolute;
    top: 16em;
}

.btn-shop-left{
    left: 0;
}

.btn-shop-right {
    right: 0;
}