---
layout: base.njk
title: GUIF Innebandy
---

<main>

    <div class="games">
        <button id="left" class="btn-games-left">
            <span class="material-symbols-outlined">
                chevron_left
            </span>  
        </button>
        <div class="games-box">   
            <div>
                <div class="center">
                    <p class="Avslutad">Avslutad</p>
                    <div class="scorebox">
                        <div class="img-size">{% image "./src/image/_genLogga.png", "logo", "200" %}</div>
                        <p class="score">3 - 2</p>
                        <div class="img-size">{% image "./src/image/_genLogga (1).png", "logo", "200" %}</div>
                    </div>
                    <p class="arena">Sjöfruhallen | Herr JAS</p>
                    <div class="statistik">
                        
                        <p class="p-stat">Matchstatistik</p>
                    </div>
                </div>
            </div>
            
            <div class="test">
                aa<p>{{ gamesAPI.workouts[0].h1[0].date }}</p>

            </div>

            {% asyncAll item in gamesAPI.data[0].h1 %}
                <div>
                    <div class="center">
                        <div class="{{ item.status }}"><p>{{ item.status }}</p> <p class="date">{{ item.date }}</p> <div class="dot"></div></div>
                        <div class="scorebox">  
                            
                            <div class="img-size {{ item.status }}">{% image "./src/image/_genLogga.png", "logo", "200" %}</div>
                            <p class="score">{{ item.home.score }} - {{ item.away.score }}</p>
                            <div class="img-size">{% image "./src/image/_genLogga (1).png", "logo", "200" %}</div>
                        </div>
                        <p class="arena">Sjöfruhallen | {{ item.division }}</p>
                        <div class="statistik">
                            
                            <p class="p-stat">Matchstatistik</p>
                        </div>
                    </div>
                </div>
            {% endall %}
            <div class=""> 

            </div>

        </div>
        <button id="right" class="btn-games-right">
            <span class="material-symbols-outlined">
                chevron_right
            </span>  
        </button>
        <script src="games.js"></script>
    </div>
    <div id="news" class="news-background"> </div>
    <div class="news">
        <h1 id="NewsHeader">Herrar Div 2 tar hem tredje raka segern efter säsongsinledningen</h1>
        <div class="mini-news">
            <div id="small-news-1" class="mini-news-box">
                <p class="title">Herrar Div 2 tar hem tredje raka segern efter säsongsinledningen</p>
                <div id="progress1">
                    <div id="bar1" class="bar"></div>
                </div>
                <p class="date">2022-10-15</p>
            </div>
            <div id="small-news-2" class="mini-news-box">
                <p class="title">GUIF-stugan stänger för resten av säsongen</p>
                <div id="progress2">
                    <div id="bar2" class="bar"></div>
                </div>
                <p class="date">2022-9-22</p>
            </div>
            <div id="small-news-3" class="mini-news-box">
                <p class="title">IBK Dalen bjuder spelare och ledare i Gimonäs innebandy på föreningskväll</p>
                <div id="progress3">
                    <div id="bar3" class="bar"></div>
                </div>
                <p class="date">2022-11-18</p>
            </div>
            <div id="small-news-4" class="mini-news-box" >
                <p class="title">Nytt avtal med Select och XXL från 2023</p>
                <div id="progress4">
                    <div id="bar4" class="bar"></div>
                </div>
                <p class="date">2022-08-09</p>
            </div>
        </div>
         
        
        <div class="mobile-dots">
            <div id="progress-mob">
                <div id="bar-mob" class="bar"></div>
            </div>
            <p id="mob-p">2022-10-15</p>
        </div>

        <script type="application/x-javascript" src="news.js"></script>
    </div>

    <div class="info">
        <a href="">
            <div class="kontakt">
                <span class="material-symbols-outlined">
                    phone_in_talk_watchface_indicator
                </span>
                <h2>Kontakt</h2>
                <p>Kontaktuppgifter till GUIF</p>
                <button class="info-btn">Kontakta oss</button>
            </div>
        </a>
        <a href="">
            <div class="policy">
                <span class="material-symbols-outlined">
                    description
                </span>
                <h2>Policy</h2>
                <p>Här kan du läs GUIF:s policy</p>
                <button class="info-btn">GUIF:s policy</button>
            </div>
        </a>
        <a href="">
            <div class="ledare">
                <span class="material-symbols-outlined">
                    person
                </span>
                <h2>Ledarportalen</h2>
                <p>Samlad information för dig som ledare</p>
                <button class="info-btn">Klicka här</button>
            </div>
        </a>
    </div>
    <div class="shop">
        <div class="shop-top">
            <div>
                <h3>GUIF</h3>
                <h3>| Teamshop</h3>
            </div>
            {% image "./src/image/teamsales-logo-black.svg", "Stadium", "3rem" %}
        </div>
            <div class="shop-sect">
            <button id="shop-left" class="btn-shop-left">
                <span id="shop-left" class="material-symbols-outlined">
                    arrow_left
                </span>  
            </button>
            <div class="shop-box">   
                <div></div>
            </div>
            <button id="shop-right" class="btn-shop-right">
                <span class="material-symbols-outlined">
                    arrow_right
                </span>  
            </button>
        </div>
    </div>
    <div class="bra-losning">
    {% image "./src/image/bakgrund1.jpg", "logo", "200" %}
    {% image "./src/image/news2.png", "logo", "200" %}
    {% image "./src/image/news3.jpg", "logo", "200" %}
    {% image "./src/image/news4.png", "logo", "200" %}
    </div>
</main>